.example-spacer {
    flex: 1 1 auto;
  }

.button-user {
  border-color: var(--primary-button-font);
}

.icon-verified {
  position: relative;
  right: 5px;
  top: 4px;
  font-size: 15px;
}

.icon-logo {
  font-size: 25px !important;
}

.icon-logo {
  position: relative;
  top: 72px;
  left: 20%;
  width: 24px;
  height: 24px;
  transform: scale(10);
  color: white;
}