.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.users-component-global {
    max-height: 100%;
    max-width: 100%;
    // background-color: black;
}

::ng-deep .hide-checkbox .mat-pseudo-checkbox { display: none; }