.div-form {
    width: 300px;
}

.max-length {
    width: 100%;
}

.form-item {
    margin-bottom: 10px;
}

.spacer {
    flex: 1 1 auto;
  }

.float-right {
    float: right
}

::ng-deep .mat-tab-group > .mat-tab-header{ display: none; }