.home-global {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}

.no-overflow {
    overflow: hidden;
}

.navbar {
    height: 12vh;
}

.body-lists {
    height: 88vh;
    max-width: 100vw;
}

.drawer {
    max-height: 88vh;
}