<div class="form-box">
  <div class="form-content">
    <form [formGroup]='registerForm'>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName='name' required>
          <mat-error *ngIf="nameControl!.invalid">{{nameErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput placeholder="Surname" formControlName='surname' required>
          <mat-error *ngIf="nameControl!.invalid">{{nameErrorMessage}}</mat-error>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName='password' [type]="hidePasswords ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePasswords = !hidePasswords" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswords">
          <mat-icon>{{hidePasswords ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl!.invalid">{{passwordErrorMessage}}</mat-error>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName='passwordConfirm' [type]="hidePasswords ? 'password' : 'text'" required>
          <mat-error *ngIf="passwordConfirmControl!.invalid">{{passwordConfirmErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <p><mat-checkbox formControlName="isBanker">Banker</mat-checkbox></p>
      </div>

      <button mat-raised-button (click)='initializeRegisterRequest()' [disabled]='!registerForm.valid'>CREATE</button>
      <p class="message">Already registered? <a mat-button routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>
