/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Roboto';
  src: url('assets/latin-300.woff2') format('woff2');
}

:root{
  --primary-background: #2141d1;
  --primary-background-gradient: #4466ad;
  --primary-button: #2d1adb;
  --primary-button-hover: #40417c;
  --primary-button-font: #FFFFFF;
  --primary-font: #2108ff;
  --greyed-out-font: #ACB0AD;
}

html, body {
    height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.button-row {
  margin: 8px 0 8px 8px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: var(--primary-button);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:var(--primary-button);
  background-color:var(--primary-button);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:var(--primary-button) !important;
}

.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary-button) !important;
}
